@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply dark:bg-slate-900 dark:text-slate-100;
}

/* modal style */

.modal-header {
  @apply px-5;
}

.modal-body {
  /* @apply px-5; */
}

.modal-footer {
  @apply border-t border-gray-200 px-5 pt-4;
}

@media screen and (min-width: 992px) {
  .ReactModal__Content {
    max-width: 80%;
  }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .ReactModal__Content {
    max-width: 90%;
  }
}

@media screen and (max-width: 575px) {
  .ReactModal__Content {
    max-width: 95%;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
